footer {
    background-image: linear-gradient(#860000, #bd0600);
    color: #d3d3d3;
    border: 2px solid black; 

    .footer__content {
        display: grid;
        justify-content: space-around;
        grid-auto-flow: column; 
        
        .links {
            font-family: Arial, Helvetica, sans-serif;
            padding: 50px 0px;
            display: flex;
            flex-direction: column; }

        .social-media {
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 25px; }

        .footer__section {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px; 
        
            .companie {
                max-width: 130px;
                margin: 40px;
                opacity: 0.3; }

            .images {
                max-width: 30px;
                max-height: 20px; }

        .links {
            font-family: Arial, Helvetica, sans-serif;
            padding: 50px 0px;
            display: flex;
            flex-direction: column; }
        
        }
    }
}


$redes:(
    Twitter: rgb(0, 247, 255),
    Facebook: blue,
    Instagram: #FF00FF,
    Youtube: red
    );