.index-main{
    background-image: url(../images/backround-image.png);
    height: 650px;
    background-size: cover, auto;
    background-repeat: no-repeat;
}

.carousel {
    max-width: 677px;
    height: 500px;
    position: absolute; top: 468px; right: 48px;}

    .carousel-mobile{
        display:none
    }


.most-sold {
    position: absolute;
    top: 455px;
    left: 190px;
    width: 170px; }