@media (max-width: 320px){
    
    footer {
        border: none; 
        .footer__content {
            display: grid;
            justify-content: space-evenly;
            row-gap: none; 
        
            .footer__section {
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif; 
            
                .companie {
                    max-width: 45px;
                    width: 50px;
                    position: relative; left: 55px; 
                }
            }
        
            .links {
                font-size: 7px;
                width: 47px;
                position: relative;
                left: 20px; 
            }
        
            .companie-images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 200px;
                gap: 0; 
            }
        
            .social-media {
            position: relative;
            right: 23px; 
            }
        }

        .footer__bottom {
            font-size: 5px; 
        }
    }
}