@media (max-width: 320px){



    .index-main{
        background-image: url(../images/Index-backround-mobile.png);
        background-position: cover;
        height: 430px;
        
        .carousel-PC {
            display: none; 
        }
        
        .carousel-mobile{
            display: block;
            width: 38%;
            position: relative; top: 21%; left: 61%;
        } 

        .most-sold {
            width: 35%;
            position: absolute; left: 14px; top: 290px;
        }
        
    }
}
