* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; }

    @import "header";
    @import "main-index";
    @import "footer";
    @import "main-products";
    @import "contact";
    @import "media";